.Contenedor {
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0em;
}

.barra-busqueda {
    display: flex;
    align-items: center;
    margin-top: 16em;
}

#input {
    box-shadow: 0.5em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.05);
    border-radius: 1.5em;
    background-color: #ffffff;
    width: 30em;
    padding: 0.5em 2.3em;
    margin-right: 1em; /* Espacio entre el input y el botón */
}

#boton {
    background-color: beige;
    border-color: #2c2c2c;
    color: black;
    padding: 0.5em 2.3em;
    border-radius: 1.5em;
    cursor: pointer; /* Cambia el cursor cuando esté sobre el botón */
}

.buscar-productos {
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-bottom: 80px;
}

.buscar-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 34px;
    max-width: 1400px;
    justify-content: center;
}