.ContenedorLoggeo {
    margin-top: 2em;
    margin-right: 3em;
    text-align: right;
    font-family: "Arial", sans-serif;
}

#Saludo {
    list-style: none;
    display: inline-block;
    background-color: #f8f9fa;
}

#InciarSesion {
    list-style: none;
    display: inline-block;
    background-color: #f8f9fa;
}