.ContenedorLoggeo {
    margin-right: 3em;
    text-align: right;
    font-family: "Arial", sans-serif;
}

#Saludo,

#InciarSesion {
    margin-top: 5em;
    list-style: none;
    display: inline-block;
    background-color: #f8f9fa;
}

#ImagenLogo {
    position: sticky;
    top: 5em;
    right: 43.5%;
}