@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.div-nav {
    position: fixed;
    /* Cambiado a fixed */
    width: 100%;
    /* Asegura que ocupe todo el ancho */
    z-index: 1000;
}

.home {
    margin: 0;
    background-color: #f3f3f3;
}

.inicio {
    text-align: center;
    margin: 00px;
    font-size: 60px;
    font-weight: 600;
}

.product-box {
    /*product cards*/
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-bottom: 80px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 34px;
    /* Espacio entre las tarjetas */
    max-width: 1400px;
    /* Ancho máximo para el contenedor de tarjetas */
    justify-content: center;
}

.img-container-arg {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em;

}

.img-container-arg img {
    /*nuevo*/
    margin-top: 440px;
    /*nuevo*/
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px);
    /* Aplica un desenfoque de 5 píxeles */

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 7, 19));
    /* Crea una máscara lineal que se desvanece hacia abajo */
    background: linear-gradient(110deg, #0a23337e, #00000085, #00000085, #0a23337e);
    ;
}

.img-container-arg .inicio {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(209, 209, 209);
    /* Color del texto */


}







.imagen-fondo {
    background-image: url(../assets/arg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;

}

.price-filter{
    background-color: rgba(134, 134, 134, 0);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 73.5%;
    justify-content: flex-end;
    margin-bottom: 1em;
}
.div-filter-title{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-right: 0.6em;
}
.div-filter-input{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;

}
.filter-input{
    background: white;
    border-radius: 4px;
    border: none;
    outline: none;
    height: 2.5em;
    width: 6.4em;
    padding: 0.5em ;
    margin: 0 0.6em;
}
.filter-input:focus {
    border: 1px solid rgb(0, 118, 214); /* Cambia el color del borde cuando el input está enfocado */
  }
.filter-btn{
    background: white;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer; 
    padding: 0.2em 0.5em;
    margin-right: 0.6em;
    height: 2.3em;
    width: 5.4em;
}
.clear-filter-btn{
    background:none;
    border: none;
    outline: none;
    cursor: pointer; 
    padding: 0.2em 0.5em;
    margin-right: 0.6em;
}
.filter-btn:hover{
    background: rgb(231, 231, 231);
    
}
.clear-filter-btn:hover{
    outline: black;
}


/* Media Queries para diseño responsive */
@media screen and (max-width: 768px) {
    .cards {
        justify-content: center;
        /* Centrar las tarjetas en dispositivos de hasta 768px */
    }

    .inicio {
        font-size: 30px;
        /* Reducir el tamaño del texto en dispositivos de hasta 768px */
    }
}

@media screen and (max-width: 576px) {
    .inicio {
        font-size: 25px;
        /* Reducir aún más el tamaño del texto en dispositivos de hasta 576px */
    }
}