.Menu {
    margin-top: 1em;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navigation li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.navigation li a {
    text-decoration: none;
    color: #333;
    padding: 1em;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 1em;
    padding: 0em;
    border: 0.1em solid #ccc;
}

.dropdownContent li {
    margin-top: 0.7em;
    border-bottom: 0.1em ridge #1233c4;
    display: block;
    text-align: left;
    width: 100%;
}


.dropdown:hover .dropdownContent {
    display: block;
}