/* Estilos base */
.div-navbar {
  background: linear-gradient(135deg, #14405c, #000, #000, #14405c);
}

.navbar-top {
  max-height: 155px;
  padding: 0px;
  margin: 0 auto;
  max-width: 1400px;
}

.comps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
}

.navbar-top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  position: relative;
}

.navbar-top-logo img {
  max-width: 200px;
  padding-bottom: 0%;
  cursor: pointer;
  
}

.navbar-top-right {
  display: flex;
  align-items: center;
}

.left {
  padding-left: 8.5%;
}

.navbar-bottom {
  padding: 0px;
  padding-bottom:10px;
  text-align: center;
}

.navbar-bottom button {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 400;
}

.section {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 45px;
}

.navbar-menu{
  margin: 20px;
}


@media only screen and (max-width: 768px) {
  .comps {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }
  
  .navbar-top-logo,
  .navbar-top-right {
    margin-top: 0px; /* Añade espacio entre el logo y los botones en dispositivos móviles */
    margin-left: 0; /* Ajusta el margen izquierdo a 0 */
  }
  
  .navbar-top-right {
    margin-right: 0px; /* Ajusta el margen derecho para centrar los botones */
  }

  .left {
    padding-left: 0; /* Elimina el padding izquierdo */
  }
}






