/* Estilos base */
.div-navbar {
  max-width: 100vw;
  background: linear-gradient(135deg, #10344b, #000, #000, #0f3146);
  /*background: rgba(0, 0, 0, 0.829);*/
  position: fixed; /* Cambiado a fixed */
  width: 100%; /* Asegura que ocupe todo el ancho */
  z-index: 1000;
}

.navbar-top {
  max-height: 125px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1400px;
}

.comps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
}

.navbar-top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  position: absolute;
  left: 50%;
  top: 5px;
  content:"";
  transform: translateX(-50%);
}

.navbar-top-logo img {
  max-width: 187px;
  padding-bottom: 1%;
  cursor: pointer;
  
}

.navbar-top-right {
  display: inline-block;
  align-items: center;
  padding-top: 37px;
}

.left {
  padding-left: 8.5%;
  
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 32px;
  
}

.navbar-bottom button {
  
  margin: 0 10px;
  font-size: 15px;
  font-weight: 400;
}



#username{
  font-weight: 200;
  margin-left: 3px;
}



@media only screen and (max-width: 768px) {
  .comps {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }
  
  .navbar-top-logo,
  .navbar-top-right {
    margin-top: 0px; /* Añade espacio entre el logo y los botones en dispositivos móviles */
    margin-left: 0; /* Ajusta el margen izquierdo a 0 */
  }
  
  .navbar-top-right {
    margin-right: 0px; /* Ajusta el margen derecho para centrar los botones */
  }

  .left {
    padding-left: 0; /* Elimina el padding izquierdo */
  }
}






