.product-card {
    display: flex;
    flex-direction: column;
    border: 0.2em solid #ccc;
    border-radius: 1em;
    overflow: hidden;
    width: 20em;
    height: 35em;
}

.product-image {
    width: 100%;
    object-fit: cover;
    height: 20em;
}

#product-title {
    margin-top: -0.3em;
    text-align: center;
}

#product-description {
    margin-top: 8px;
    display: -webkit-box;
    /* Establece el modo de visualización como flexible */
    -webkit-line-clamp: 3;
    /* Limita el número de líneas a mostrar */
    -webkit-box-orient: vertical;
    /* Orientación vertical */
    overflow: hidden;
    /* Oculta el texto que excede las tres líneas */
    line-height: 1.4em;
    /* Altura de línea, ajusta según sea necesario */
}



.Texto {
    padding: 16px;
}

.StockYPrecio {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    margin-top: -0.5em;
    font-size: 1.3em;
}

.Botones {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    margin-top: 0.2em;

}

.Eliminar,
.Editar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5em;
    cursor: pointer;
}

.Eliminar:hover {
    transform: scale(1.15);
    background-color: #A52A2A;
    /* Tono rojo */

}

.Editar {
    background-color: #2196f3;
}

.Editar:hover {
    transform: scale(1.15);
    background-color: #005da6;
    /* Azul intenso */

}

.SeccionImagen {}