.product-card {
    display: flex;
    flex-direction: column;
    border: 0.2em solid #ccc;
    border-radius: 1em;
    overflow: hidden;
    width: 20em;
    height: 35em;
}

.product-image {
    width: 100%;
    object-fit: cover;
    height: 20em;
}

#product-title {
    margin-top: -0.3em;
    text-align: center;
}

#product-description {
    margin-top: 0.8em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4em;
}

.Texto {
    padding: 1em;
}

.StockYPrecio {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    margin-top: -0.5em;
    font-size: 1.3em;
}

.Botones {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    margin-top: 0.2em;

}

.Eliminar,
.Editar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5em;
    cursor: pointer;
}

.Eliminar:hover {
    transform: scale(1.15);
    background-color: #A52A2A;
}

.Editar {
    background-color: #2196f3;
}

.Editar:hover {
    transform: scale(1.15);
    background-color: #005da6;
}