.div-publicaciones {
  margin: 0 auto;
}

.publicaciones-container {
  padding-top: 18em;
  padding-bottom: 4em;
  width: 71.05%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.publicaciones-container Nav {
  position: absolute;
}

.publicaciones-aux {}