.sell-container {
    width: 99.140vw;
    min-height: 100vh;
    background-color: rgb(252, 252, 252);
    padding-bottom: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}